body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  height: 32px;
  /* background: rgba(255, 255, 255, 0.2); */
  margin: 16px;
  background: url(binance-horizontal.svg);
}

.nav-link {
  color: #ffffff;
}

.nav-link-icon {
  color: #f0b90b !important;
}

.ant-menu-item-selected .nav-link-icon {
  color: #333333 !important;
}

.ant-menu-item-selected {
  background-color: #f0b90b !important;
}

.ant-menu-item-selected .nav-link {
  color: #333333 !important;
}
